.hero {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-position: center;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.main-text {
  padding-bottom: 70px;
  font-size: larger;
}

.main-text h1 {
  color: red;
  font-size: 70px;
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.search-container input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container .suggestions {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.search-container .suggestion {
  padding: 8px;
  cursor: pointer;
}

.search-container .suggestion:hover {
  background-color: #f0f0f0;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .search-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-container input {
    width: 200px;
  }

  .search-container select {
    width: 150px;
  }
}