*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(125, 238, 244);
}

li {
    color: #666;
    font-size: 25px;
    margin-bottom: 5px;
}


.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav_toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}

.nav_toggler {
    cursor: pointer;
    display: none;
}

.signup-login button{
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
    width: 100px;
    color: rgb(0, 0, 0);

}

@media screen and (max-width : 768px) {
    .nav_toggler {
        display: block;
    }   

    .nav_menu {
        position: fixed;
        top: 9vh;
        right: 0;
        width: 50%;
        height: 9vh;
        background-color: aqua;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

}


.nav_active {
    transform: translateX(0)
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);

}

.toggle .line2 {
    opacity: 0;

}

.toggle .line3 {
    transform: rotate(-45deg) translate(-4px, 5px);

}